@charset "utf-8";

/*
 * UI Components
 */

/* Site Body */
.siteico {
  background: #e6e8ed;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow-xl);
  border-radius: var(--radius-2xl);
  transition: background-color var(--transition-normal);
}
.siteico:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.blur {
  filter: blur(15px);
}
.blur-layer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0.2;
}
.img-cover {
  max-width: 90% !important;
  min-width: 72px !important;
  max-height: 90% !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: var(--radius-xl);
}
.site-body .btn {
  border-radius: var(--radius-xl);
  padding: 7px 16px;
  background-color: rgba(138, 138, 138, 0.15);
  transition: var(--transition-normal);
}
.site-body .btn:hover {
  color: var(--bg-white);
  background: #202224;
}
.site-body .btn:active {
  box-shadow: unset;
}
.site-body .site-go .btn {
  margin-bottom: 10px;
}
.site-go-url {
  position: relative;
}
.site-go-url .spare-url {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  margin-top: 0;
  transition: var(--transition-normal);
}
.site-go-url:hover .spare-url {
  opacity: 1;
  visibility: visible;
  margin-top: -10px;
}
@media screen and (max-width: 575.98px) {
  .siteico:before {
    padding-top: 60%;
  }
}
